.menuButton {
  /* shared styles */
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  position: fixed; /* positioning */
  top: 80px; /*Lower than the Token Button */
  z-index: 10; /* Ensure it's above other elements */
  width: 120px;
}

.hideDashboardElementsButton {
  top: auto;
}

.menuButton.multiSelectHideDashboardElements {
  position: inherit;
  top: auto;
  background-color: unset;
  color: unset;
  text-align: center;
  border: 1px solid #007bff;
  font-size: 1.5em;
}

.menuButton.multiSelectHideDashboardElements:hover {
  background-color: unset;
}

.menuButton:hover {
  background-color: #0056b3;
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}

.extraMenu {
  position: fixed;
  top: 150px;
  right: 40px; /* same as .right */
  width: 120px; /* same as .menuButton */
  z-index: 10; /* Ensure it's above other elements */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extraMenu .menuButton {
  position: inherit;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .menuButton {
    top: auto;
    bottom: 80px;
  }

  .extraMenu {
    top: auto;
    bottom: 30px;
    right: 180px;
    width: 160px;
  }

  .extraMenu .menuButton {
    width: 160px;
  }

  .menuButton.multiSelectHideDashboardElements {
    font-size: 1em;
  }
}